.bgd1, .bgd2 {
    height: 1932px;
    width: 93px;
    
}
.bgd1 {
    background: url("https://theunknownfiles.github.io/res/img/backdrop1.png") repeat-y;
    animation: bgd1 5s linear infinite;
    position: fixed; 
    right: 0;
}
.bgd2 {
    background: url("https://theunknownfiles.github.io/res/img/backdrop2.png") repeat-y;
    animation: bgd2 5s linear infinite;
    position: fixed;
    left: 0;
}

@keyframes bgd1 {
    0%{transform:translateY(0);}
    100%{transform: translateY(-644px);}
}
@keyframes bgd2 {
    0%{transform:translateY(-644px);}
    100%{transform: translateY(0);}
}

@media screen and (max-width: 579px) {
    .bgd1 {display: none;}
    .bgd2 {display: none;}
}